

/* Dropdown-menu triangle */

.sub-menu:after{
    content:''; 
    position: absolute; 
    top: 0;
    right: 8%;
    /* margin-left: 0px; */
	margin-top:4px; 
    width: 0;
    z-index:1;
    height: 0;
    border-bottom: solid 8px #275e9d; 
    border-left: solid 8px transparent; 
    border-right: solid 8px transparent; 
}


/* ANIMATION DROPDOWN USER-MENU */

.dropdownAnim{
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
}
@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}


