/*css avatar*/

.avatar {
    vertical-align: middle;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #464747;
}


/*css buton edit*/

.submit {
    padding: 15px 35px;
    background: #3eec50;
    color: #ffffff;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 2px solid #78ebd0;
    font-size: 20px;
    ;
}
