/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Raleway', sans-serif;
}

/* a:focus-visible, button:focus-visible, input:focus-visible {
    @apply outline-none ring-2 ring-secondary;
} */

/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
    opacity: 0.5;
  } 
  ::-webkit-scrollbar:hover {
    width: 12px;
    opacity: 1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #82979F;
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 12px;
    opacity: 0.5;
  }
  
  ::-webkit-scrollbar:hover {
    width: 12px;
    opacity: 1;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #82979F;
  }

