/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------------------- */


/*                                   General                                  */


/* -------------------------------------------------------------------------- */

* {
    font-family: 'Raleway', sans-serif;
}

/* a:focus-visible, button:focus-visible, input:focus-visible {
    @apply outline-none ring-2 ring-secondary;
} */


/* -------------------------------------------------------------------------- */


/*                             Gradient animations                            */


/* -------------------------------------------------------------------------- */

.gradientBackgroundTpk {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #1f71a5, #50E2AD);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/* Button animations */

.btn-hover {
    cursor: pointer;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.tpkBlueBtn {
    background-image: linear-gradient(to right, #25aae1, #1F71A5, #0faee4, #275E9d);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.tpkErrorBtn {
    background-image: linear-gradient(to right, #e44e4d, #e12525, #e40f0f, #9d2727);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

::-webkit-scrollbar {
    width: 12px;
    opacity: 0.5;
  } 
  ::-webkit-scrollbar:hover {
    width: 12px;
    opacity: 1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #82979F;
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 12px;
    opacity: 0.5;
  }
  
  ::-webkit-scrollbar:hover {
    width: 12px;
    opacity: 1;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #82979F;
  }

  td, th {
    border: 1px solid #a1a1a0;
    text-align: left;
    padding: 8px;
  }

  th {
    color: #1F71A5;
  }
  
  tr:nth-child(even) {
    background-color: #a1a1a0;
  }

