/*css avatar*/

.avatar {
    vertical-align: middle;
    margin: 0px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1.5px #9eecc8;
    color: rgb(255, 255, 255);
    font-size: 70px;
}

.img-avatar{
    margin-right:25px ;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    border: 1.5px #9eecc8;
}


/*css avatar button "ajouter" image*/
p {
    font-family: Lato;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  img {
    height: 160px;
    width: 160px;
    border: 3px solid #16e7dd;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 70px;
  }

  .img-button-ajouter-avatar {
    border: 3px solid #0b86c4;
    border-radius: 50%;
    color: rgb(16, 99, 177);
    font-size: 150%;
  }
  
  
  .select-profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    width: 100%;
    height: 100%;
    font-size: 120px;
    color: white;
    cursor: pointer;
  }
  
  .message {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 45%;
    transform: translate(-50%, 100%);
    transition: all 1s;
    opacity: 0;
    color: rgb(241, 14, 14);
  }
  
  .image-container:hover .message {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

/*css input role message erreur*/

.role-message-erreur {
    margin-left: 100px;
    font-style: normal;
    font-size: 14pt;
    color: red;
}

.h1{
    margin-left:370px;
}


/*css input username message erreur*/

.username-message-erreur {
    margin-left: 295px;
    font-style: italic;
    font-size: 14pt;
    color: red;
}


/*css input email message erreur*/

.email-message-erreur {
    margin-left: 110px;
    font-style: italic;
    font-size: 14pt;
    color: red;
}


/*css input firstname message erreur*/

.firstname-message-erreur {
    margin-left: 185px;
    font-style: italic;
    font-size: 14pt;
    color: red;
}


/*css input lastname message erreur*/

.lastname-message-erreur {
    margin-left: 100px;
    font-style: italic;
    font-size: 14pt;
    color: red;
}


/*css input password/confirm-password message erreur*/

.password-message-erreur {
    margin-left: 185px;
    font-style: italic;
    font-size: 14pt;
    color: red;
}


/*css role*/

.input-role {
    margin-left: 75px;
    font-size: 18px;
    color:rgb(11, 97, 155);
    /*text-decoration: underline rgb(130, 161, 224);*/
}


/*css username*/

.input-username {
    margin-left: 290px;
    font-size: 18px;
    color:rgb(11, 97, 155);
    /*text-decoration: underline rgb(130, 161, 224);*/
}


/*css email*/

.input-email {
    margin-left: 290px;
    font-size: 18px;
    color:rgb(11, 97, 155);
    /*text-decoration: underline rgb(130, 161, 224);*/
}


/*css input firstname*/

.input-firstname {
    margin-left: 180px;
    font-size: 18px;
    color:rgb(11, 97, 155);
    /*text-decoration: underline rgb(130, 161, 224);*/
}


/*css input lastname*/

.input-lastname {
    margin-left: 0px;
    font-size: 18px;
    color:rgb(11, 97, 155);
    /*text-decoration: underline rgb(130, 161, 224);*/
}


/*css input password*/

.input-password {
    margin-left:180px;
    font-size: 18px;
    color:rgb(11, 97, 155);

    /*text-decoration: underline rgb(130, 161, 224);*/
}


/*css input password*/

.input-confirm-password {
    margin-left: 0px;
    font-size: 18px;
    color:rgb(11, 97, 155);
    /*text-decoration: underline rgb(130, 161, 224);*/
}


/*css buton cancel*/

.clear {
    padding: 6px 15px;
    background: #e66565;
    color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    font-size: 20px;
    font-style: italic;
}


/*css buton Update*/

.update {
    margin-left: 0px;
    padding: 6px 15px;
    background: #4e80ca;
    color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    font-size: 20px;
    font-style: italic;
}

/*css button Cancel*/

.cancel
{
    margin-left: 0px;
    padding: 6px 15px;
    background: #11df0a;
    color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    font-size: 20px;
    font-style: italic; 

}


